section
  .content
    h1#configuration Configuration
    p #{__('config.info')}
    hr
    .table-responsive
      table.table.table-hover
        thead
          tr
            th Data Type
            th Option
            th Description
            th Default
            th Example
        tbody
          tr
            td Object
            td global
            td #{__('config.table.one')}
            td
              pre.language-javascript
                code.
                  global:{
                    gengo: "__"
                  };
            td
              pre.language-javascript
                code.
                  gengo.config(global:{
                    gengo: "__g"
                  });
          tr
            td String, Object
            td directory
            td #{__('config.table.two')}
            td
              pre.language-javascript
                code.
                  directory: root + "/locales"
            td
              pre.language-javascript
                code.
                  gengo.config({
                    directory: {
                      path: __dirname + "/my-folder/"
                    }
                  });

          tr
            td Boolean, Object Array
            td debug
            td #{__('config.table.three')}
            td
              pre.language-javascript
                code.
                  debug: false
            td
              pre.language-javascript
                code.
                  //Object
                  gengo.config({
                    debug:{
                      cout: ['warn', "error"],
                      timestamp:{
                        format: "hh:mm:ss"
                      }
                    }
                  });
                  //Array
                  gengo.config({
                    debug: ["warn", "error"]
                  });
    .note.panel.panel-info
      .panel-heading Note
      .panel-body !{__('config.table.three.note')}
    br
    .table-responsive
      table.table.table-hover
        tbody
        tr
          td String
          td default
          td #{__('config.table.four')}
          td
            pre.language-javascript
              code.
                default: "en-US"
          td
            pre.language-javascript
              code.
                gengo.config({
                  default: "ja"
                });
        tr
          td Array
          td supported
          td #{__('config.table.five')}
          td
            pre.language-javascript
              code.
                supported: ["en-US"]
          td
            pre.language-javascript
              code.
                gengo.config({
                  supported:["en-US", "ja", "fr", "en-gb"];
                });
    br
    .table-responsive
      table.table.table-hover
          tbody
            tr
              td Boolean
              td router
              td #{__('config.table.six')}
              td
                pre.language-javascript
                  code.
                    router: false
              td
                pre.language-javascript
                  code.
                    gengo.config({
                      router: true
                    });
    .note.panel.panel-info
      .panel-heading Note
      .panel-body #{__('config.table.six.note')}
    br
    .table-responsive
      table.table.table-hover
        tbody
          tr
            td Boolean
            td markdown
            td #{__('config.table.seven')}
            td
              pre.language-javascript
                code.
                  markdown: false
            td
              pre.language-javascript
                code.
                  gengo.config({
                    markdown: true
                  });
          tr
            td String
            td extension
            td #{__('config.table.eight')}
            td
              pre.language-javascript
                code.
                  extension: ".js"
            td
              pre.language-javascript
                code.
                  gengo.config({
                    extension: ".json"
                  });
          tr
            td Object
            td keywords
            td #{__('config.table.nine.one')}
              br
              br
              |#{__('config.table.nine.two')}
            td
              pre.language-javascript
                code.
                  keywords:{
                    plural: "plural",
                    default: "default",
                    translated: "translated",
                    universe: "gengo"
                  }
            td
              pre.language-javascript
                code.
                  gengo.config({
                    keywords:{
                      plural: "p",
                      default: "d",
                      translated: "t",
                      universe: "u"
                  }});
          tr
            td String
            td cookie
            td #{__('config.table.ten')}
            td
              pre.language-javascript
                code.
                  cookie: "locale"
            td
              pre.language-javascript
                code.
                  gengo.config({
                    cookie: "cookiename"
                  });
    h2 Sails.js
    p !{__('config.sails')}
    h3 Example
    pre.language-javascript
      code.
        /**
         * HTTP Server Settings
         * (sails.config.http)
         *
         * Configuration for the underlying HTTP server in Sails.
         * Only applies to HTTP requests (not WebSockets)
         *
         * For more information on configuration, check out:
         * http://sailsjs.org/#/documentation/reference/sails.config/sails.config.http.html
         */
        var gengo = require('gengojs');
        gengo.config({
            directory: {
                path: __dirname + '/locales'
            },
            default: 'en-us',
            supported: ['en', 'es', 'fr', 'de'],
            extension: 'json',
            debug: ['warn', 'info']
        });

        module.exports.http = {

            /****************************************************************************
             *                                                                           *
             * Express middleware to use for every Sails request. To add custom          *
             * middleware to the mix, add a function to the middleware config object and *
             * add its key to the "order" array. The $custom key is reserved for         *
             * backwards-compatibility with Sails v0.9.x apps that use the               *
             * `customMiddleware` config option.                                         *
             *                                                                           *
             ****************************************************************************/

            middleware: {

                /***************************************************************************
                 *                                                                          *
                 * The order in which middleware should be run for HTTP request. (the Sails *
                 * router is invoked by the "router" middleware below.)                     *
                 *                                                                          *
                 ***************************************************************************/
                order: [
                    'startRequestTimer',
                    'cookieParser',
                    /*----------------*/
                    'gengo',
                    /*----------------*/
                    'session',
                    'bodyParser',
                    'handleBodyParserError',
                    'compress',
                    'methodOverride',
                    'poweredBy',
                    '$custom',
                    'router',
                    'www',
                    'favicon',
                    '404',
                    '500',
                ],

                /****************************************************************************
                 *                                                                           *
                 * Example custom middleware; logs each request to the console.              *
                 *                                                                           *
                 ****************************************************************************/
                gengo: gengo.init,

                /***************************************************************************
                 *                                                                          *
                 * The body parser that will handle incoming multipart HTTP requests. By    *
                 * default as of v0.10, Sails uses                                          *
                 * [skipper](http://github.com/balderdashy/skipper). See                    *
                 * http://www.senchalabs.org/connect/multipart.html for other options.      *
                 *                                                                          *
                 ***************************************************************************/

                // bodyParser: require('skipper')

            },

            /***************************************************************************
             *                                                                          *
             * The number of seconds to cache flat files on disk being served by        *
             * Express static middleware (by default, these files are in `.tmp/public`) *
             *                                                                          *
             * The HTTP static cache is only active in a 'production' environment,      *
             * since that's the only time Express will cache flat-files.                *
             *                                                                          *
             ***************************************************************************/

            // cache: 31557600000
        };
