section
  .content
    h1#installation Installation
    p #{__('install.instruct')}
    hr
    pre.language-bash
      code.
         #npm install
         sudo npm install gengojs --save

         #try a Sails.js app
         cd node_modules/gengojs/sails/ejs/ && sudo npm install
         #or
         cd node_modules/gengojs/sails/jade && sudo npm install
         #start it up!
         npm start #or 'sails lift' if Sails.js is installed
    hr
    h2 Initialize
    p #{__("install.initialize")}
    hr
    pre.language-javascript
      code.
        var gengo = require('gengojs');

        gengo.config({
            directory:__dirname + '/config/locales',
            default: 'en-us',
            supported: ['ja'],
            router: true
          });

        app.use(gengo.init);
    h2 Usage
    p !{__('install.usage')}
    h3 Example
    pre.language-javascript
      code.
        __('Hello'); // --> こんにちは
    .note.panel.panel-info
      .panel-heading Note
      .panel-body #{__('install.note')}
        br
        br
        pre.language-markup
          code.
            &ltscript&gt
              $(document).ready(function(){
                alert("\!{__('Hello', 'ja')}"); // --> こんにちは
               });
            &lt/script&gt
