section
  .content
    h1#api API
    p #{__('api.info')}
    h2 Input
    p #{__('api.input')}
    hr
    .table-responsive
      table.table.table-hover
        thead
          tr
            th Data Type
            th Option
            th Description
            th Example
        tbody
          tr
            td String
            td phrase
            td #{__('api.input.table.one')}
            td
              pre.language-javascript
                code.
                  __("phrase");
          tr
            td Object
            td phrase,
              br
              |locale,
              br
              | count
            td
              |#{__("api.input.table.two.one")}
              br
              |#{__("api.input.table.two.two")}
              br
              |#{__("api.input.table.two.three")}
            td
              pre.language-javascript
                code.
                  __({phrase:/*String, Number, Array*/});
                  __({locale:/*String*/});
                  __({count:/*String or Number*/});
    .note.panel.panel-info
      .panel-heading Note
      .panel-body
        p #{__('api.input.table.note')}
    h3 Notation
    p #{__('api.notation.info')}
    hr
    .table-responsive
      table.table.table-hover
        thead
          tr
            th Notation
            th Description
            th Example
        tbody
          tr
            td Phrase
            td #{__('api.notation.table.one')}
            td
              pre.language-javascript
                code.
                  //phrase
                  __("Hello World");
          tr
            td Brackets
            td #{__('api.notation.table.two')}
            td
              pre.language-javascript
                code.
                  //phrase
                  __("[Hello World]");
                  //phrase with subkey
                  __("[Hello World].subkey");
                  //dotted key
                  __("[navbar.home]");
                  //dotted key with subkey
                  __("[navbar.home].subkey");
          tr
            td Dot
            td #{__('api.notation.table.three')}
            td
              pre.language-javascript
                code.
                  //dotted parsing
                  __("navbar.home.subkey");
    hr
    h2 Arg
    p #{__('api.arg.info')}
    hr
    .table-responsive
      table.table.table-hover
        thead
          tr
            th Data Type
            th Description
            th Example
        tbody
          tr
            td String
            td #{__('api.arg.table.one')}
            td
              pre.language-javascript
                code.
                  //sprintf
                  __("...%s...","sprintf");
                  //sprinf with n args
                  __("...%s...%s", "sprintf", "sprintf-n");
                  //locale
                  __("...", "en-US");
                  //count
                  __("...", "2");
                  //count with sprintf
                  __("...%d...");
          tr
            td Array
            td #{__('api.arg.table.two')}
            td
              pre.language-javascript
                code.
                  //sprintf
                  __("...%s...%s", ["sprintf", "sprintf-n"])
          tr
            td Object
            td #{__('api.arg.table.three')}
            td
              pre.language-javascript
                code.
                  //sprintf
                  __("...",{sprintf:/*String, Number, Array*/});
                  //locale
                  __("...",{locale: /*String*/});
                  //count
                  __("...",{count:/*String or Number*/});
                  //mustache
                  __("...{{a}}...",{a:"mustache", b:"mustache-2", c: "mustache-n"});
          tr
            td Number
            td #{__('api.arg.table.four')}
            td
              pre.language-javascript
                code.
                  //count
                  __("...", 2)
                  //count with sprintf
                  __("...%d...", 2)
    h2 Methods
    .table-responsive
      table.table.table-hover
        thead
          tr
            th Method
            th Description
            th Example
        tbody
          tr
            td
              pre.language-javascript
                code.
                  language()
            td #{__('api.methods.table.one')}
            td
              pre.language-javascript
                code.
                  __.language();
          tr
            td
              pre.language-javascript
                code.
                  setLocale()
            td #{__('api.methods.table.two')}
            td
              pre.language-javascript
                code.
                  __.locale("ja");
                  __.locale(req, "ja");
                  req.setLocale("ja");
          tr
            td
              pre.language-javascript
                code.
                  getLocale()
            td #{__('api.methods.table.three')}
            td
              pre.language-javascript
                code.
                  __.getLocale();
                  __.getLocale(req);
                  req.getLocale();
          tr
            td
              pre.language-javascript
                code.
                  moment()
            td
              |#{__('api.methods.table.four.one')}
              br
              br
              |#{__('api.methods.table.four.two')}
              br
              br
              |!{__('api.methods.table.four.three')}
            td
              pre.language-javascript
                code.
                  __("Today is %s", __.moment().format("dddd"));
                  __("Today is %s", __moment({locale: "ja"}).format("dddd"));
        tr
          td
            pre.language-javascript
              code.
                numeral()
          td
            |#{__('api.methods.table.five.one')}
            br
            br
            |#{__('api.methods.table.five.two')}
            br
            br
            |!{__('api.methods.table.five.three')}
          td
            pre.language-javascript
              code.
                __("I don't have %s", __.numeral(10000).format("$0,0"))
                __("I don't have %s", __.numeral(10000).format("$0.0"))
  .note.panel.panel-info
    .panel-heading Note
    .panel-body
      |!{__('api.methods.table.note')}
