<h2>API</h2>
<div class="gengo">
<p><%= __("api.p1") %></p>
</div>
<h3>i18n</h3>
<h4>API</h4>
<pre><code class="language-javascript">// String
__('Hello');
// Object
__({ phrase:'Hello', locale: 'ja', parser:'format' });

// Array
__('Hello %s, is today %s?', ['Bob', 'sunny']);
// Object
__('Hello {{name}}, is today {{weather}}?', { name:'Bob', weather: 'sunny' });

</code></pre>
<h4>Notations</h4>
<h5>Phrase Notation</h5>
<div class="gengo">
<pre><code class="language-javascript"><%= _.unescape(__("api.code1")) %></code></pre>
</div>
<h5>Bracket Notation</h5>
<div class="gengo">
<pre><code class="language-javascript"><%= _.unescape(__("api.code2")) %></code></pre>
</div>
<h5>Dot Notation</h5>
<div class="gengo">
<pre><code class="language-javascript"><%= _.unescape(__("api.code3")) %></code></pre>
</div>
<h4>Message Format</h4>
<div class="gengo">
<p><%= __("api.p2") %></p>
</div>
<div class="gengo">
<p><%= __("api.p3") %></p>
</div>
<div class="gengo">
<pre><code class="language-javascript"><%= _.unescape(__("api.code4")) %></code></pre>
</div>
