<h2>API</h2>
<div class="gengo">
<p><%= __("api.p1") %></p>
</div>
<h3>Input</h3>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Data Type</th>
                <th>Option</th>
                <th>Description</th>
                <th>Example</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>String</td>
                <td>phrase</td>
                <td>
                	<ul>
                		<li class="gengo"><%= __("api.ul2.li2") %></li>
                	</ul>
                </td>
                <td>
                	<pre>                		<code class="language-javascript">
                			__("phrase");
                		</code>
                	</pre>
                </td>
            </tr>
            <tr>
                <td>Object</td>
                <td>
                	<ul>
                		<li>phrase</li>
                		<li>locale</li>
                	</ul>
                </td><td>
                	<ul>
                		<li class="gengo"><%= __("api.ul4.li2") %></li>
                		<li class="gengo"><%= __("api.ul4.li3") %></li>
                	</ul>
                </td><td>
                	<pre>						<code class="language-javascript">
							__({phrase:/*String, Array*/});
							__({locale:/*String*/});
                		</code>
                	</pre>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h3>Notation</h3>
<div class="gengo">
<p><%= __("api.p2") %></p>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Notation</th>
                <th>Description</th>
                <th>Example</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Phrase</td>
                <td>
                    <ul>
                        <li class="gengo"><%= __("api.ul5.li2") %></li>
                    </ul>
                </td>
                <td>
                    <pre>                        <code class="language-javascript">
                            // Phrase
                            __("Hello World");
                        </code>
                    </pre>
                </td>
            </tr>
            <tr>
                <td>Brackets</td>
                <td>
                    <ul>
                        <li class="gengo"><%= __("api.ul6.li2") %></li>
                    </ul>
                </td>
                <td>
                    <pre>                        <code class="language-javascript">
                            // Phrase
                            __("[Hello World]");
                            // Phrase + subkey
                            __("[Hello World].subkey");
                            // Dotted key
                            __("[navbar.home]");
                            // Dotted key + subkey
                            __("[navbar.home].subkey");
                        </code>
                    </pre>
                </td>
            </tr>
            <tr>
                <td>Dot</td>
                <td>
                    <ul>
                        <li class="gengo"><%= __("api.ul7.li2") %></li>
                    </ul>
                </td>
                <td>
                <pre>                    <code class="language-javascript">
                        // Dotted parsing
                        __("navbar.home.subkey");
                    </code>
                </pre>
                </td>
            </tr>
        </tbody>
    </table>
</div>