.navbar.navbar-default
  .navbar-header
    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-responsive-collapse")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href="/") #{title}
  .navbar-collapse.collapse.navbar-responsive-collapse
    ul.nav.navbar-nav
      li
        a(href="/") #{__("navbar.home")}
      li
        a(href="/docs") #{__("navbar.docs")}
    ul.nav.navbar-nav.navbar-right
      li
        form.navbar-form.navbar-left
          input.form-control.col-lg-8.language(type="text", placeholder=__("navbar.search"), autocomplete="off")
      li
        a.current-language #{language}
      li
        a(href="//github.com/iwatakeshi/gengojs", target="__blank")<img src="/images/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png" style="width:15%; height:auto;"></img> #{__("navbar.github")}

