h1#dictionary #{__("Dictionary")}
    h3#setup
      strong Setup
    p #{__(keys.docs['#setup'])}
    br
    <p>
    <span class="glyphicon glyphicon-warning-sign"></span>#{__("In XML, you can write longer sentences without using a newline.")}
    </p>
    br
    h5#json
      strong JSON
    br
    pre.language-javascript
      code.
        //ja.js

        //routeAware: false
        module.exports = {
            "Welcome to Gengo.js": "Gengo.jsへようこそ",
        };
        module.exports = {
            //route
            index:{
              "Welcome to Gengo.js": "Gengo.jsへようこそ",
            },
            //universe
            gengo:{
              "Hello": "こんにちは",
            }
        };
    h5#xml
      strong XML
    br
    pre.language-markup
      code.
        &lt;!--en_US.xml--&gt;
        &lt;!--routeAware: false--&gt;
        &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; ?&gt;
        &lt;begin&gt;
           &lt;data&gt;
                &lt;key&gt;&#20170;&#26085;&#12363;&#12425;&#20685;&#12365;&#12414;&#12377;&#12290;&lt;/key&gt;
                &lt;value&gt;From today, I will work&lt;/value&gt;
             &lt;/data&gt;
        &lt;/begin&gt;


        &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; ?&gt;
        &lt;!--routeAware: true--&gt;
        &lt;begin&gt;
            &lt;index&gt;
                &lt;data&gt;
                    &lt;key&gt;&#20170;&#26085;&#12363;&#12425;&#20685;&#12365;&#12414;&#12377;&#12290;&lt;/key&gt;
                    &lt;value&gt;From today, I will work&lt;/value&gt;
                &lt;/data&gt;
            &lt;/index&gt;
            &lt;gengo&gt; &lt;!--universe:true--&gt;
                &lt;data&gt;
                    &lt;key&gt;&#12371;&#12435;&#12395;&#12385;&#12399;&lt;/key&gt;
                    &lt;value&gt;Hello&lt;/value&gt;
                &lt;/data&gt;
            &lt;/gengo&gt;
        &lt;/begin&gt;
    h1#sprintf Sprintf
    p
    | #{__(keys.docs['#sprintf'])}
    br
    pre.language-javascript
      code.
        //ja.js
        module.exports = {
            "Welcome to Gengo.js, %s": "%s, Gengo.jsへようこそ"
        };
    h1#momentjs-and-numeraljs #{__("Moment and Numeral")}
    p
    | #{__(keys.docs['#momentjs-and-numeraljs'])}
    br
    pre.language-jade
      code.
        extends layout

        block content
          h1= __(title)
          h2 \#{__("Gengo.jsへようこそ")}
          h4 \#{__('今日は%sです。', moment().format('dddd'))}
          h4 \#{__('%sを持っていません。', numeral(10000).format('$0,0.00'))}
    h1#cookies #{__("Cookies")}
    p
    | #{__("At the moment, the only way to change a language with a browser is by cookies. But, the setup is pretty easy.")}
    br
    pre.language-jade
      code.
        //index.jade
        extends layout

        block content
          h1= __(title)
          p \#{__("Gengo.jsへようこそ")}
          button(onclick="locale().set('ja');") Japanese
          button(onclick="locale().set('en_US');") English
          button(onclick="locale().reset();") Reset
          script.
              var locale = function(){
                  return{
                      set: function(locale){
                          //#{__("set the cookie")}
                          document.cookie = "locale=" + locale;
                          //#{__("refresh the page")}
                          location.reload();
                      },
                      reset: function(){
                          //#{__("reset the cookie")}
                          document.cookie = "locale=";
                          //#{__("refresh the page")}
                          location.reload();
                      }
                  };
              };
    h1#HTML HTML
    p
    | #{__("With gengo, you can insert HTML and translate it.")}
    br
    pre.language-jade
      code.
        //index.jade
        extends layout

        block content
          //#{__("notice the !=")}
          p!= __("Welcome to &lt;a href='%s'&gt;%s&lt;/a&gt;", ["http://www.gengojs.com/","Gengo.js"])
