extends /layout

block styles
    link(rel="stylesheet" href="/stylesheets/docs.css")
block content
    .row.affix-row
      .col-sm-3.col-md-2.affix-sidebar
        .sidebar-nav
          .navbar.navbar-default(role='navigation' style='padding: 2%;')
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .navbar-collapse.collapse.sidebar-navbar-collapse
              ul#sidenav01.nav.navbar-nav
               li.active
                  h3(style="color:white; text-align:center") #{__("Docs")}
                li
                  a.collapsed(href="##" data-toggle='collapse', data-target='#toggle1', data-parent='#sidenav01')
                    span.glyphicon.glyphicon-book
                    | #{__("Reference")}
                    span.caret.pull-right
                  #toggle1.collapse(style='height: 0px;')
                    ul.nav.nav-list
                      li
                        a(href="#install") #{__("Initialize")}
                      li
                        a(href='#gengo') gengo
                      li
                        a(href='#config') #{__("Config")}
                      li
                        a(href='#functions') #{__("Functions")}
                li
                  a.collapsed(href='##', data-toggle='collapse', data-target='#toggle2', data-parent='#sidenav01')
                    span.glyphicon.glyphicon-globe
                    | #{__("Translate")}
                    span.caret.pull-right
                  #toggle2.collapse(style='height: 0px;')
                    ul.nav.nav-list
                      li
                        a(href='#dictionary') #{__("Dictionary")}
                      li
                        a(href='#sprintf') Sprintf
                      li
                        a(href='#momentjs-and-numeraljs') #{__("Moment and Numeral")}
                      li
                        a(href='#cookies') #{__("Cookies")}
                      li
                        a(href='#HTML') HTML
            // /.nav-collapse
      .col-sm-9.col-md-10
        .container#reference
          .btn-group.pull-right
                a.btn.btn-primary.btn-sm(href="##") v0.2
                a.btn.btn-primary.btn-sm.dropdown-toggle(href="#", data-toggle="dropdown")
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="/docs") v0.3
          .page-header
            h3
              span.glyphicon.glyphicon-book
              | Gengo.js #{__("Docs")} v0.2

          include ./reference
          hr.featurette-divider
          include ./dictionary
block scripts
  script(src="/javascripts/docs.js")
