h1#dictionary #{__("dictionary.heading.dictionary")}
    h3#setup
      strong Setup
p!= __("dictionary.paragraph.setup")
br
pre.language-javascript
  code.
    //input
    __("Hello world")

    //dictionary locale = ja
    {
      "Hello World": ...
    }

    //requested locale = en-US
    //output --> "Hello World"

    //requested locale = ja
    //output --> ...
p!= __("dictionary.paragraph.setup.continued")
p!= __("dictionary.paragraph.setup.footnote.one")

br
pre.language-javascript
  code.
    //input
    __("[hello.world]")
    //dictionary locale = en-US
    {
      "hello.world":{
        "default": "Hello World"
      }
    }
    //dictionary locale = ja
    {
      "hello.world":{
        "translated" : ...
      }
    }
    //requested locale = en-US
    //output --> Hello World

    //requested locale = ja
    //output --> ...

br
pre.language-javascript
  code.
    //input
    __("hello.world")
    //dictionary locale = en-US
    {
      "hello":{
        "world": {
          "default": "Hello World"
        }
      },
      //or
      "hello":{
        "world": "Hello World"
      }
    }
    //dictionary locale = ja
    {
      "hello":{
        "world":{
          "translated" : ...
        }
      },
      //or
      "hello":{
        "world": "Hello World"
      }
    }

    //requested locale = en-US
    //output --> Hello World

    //requested locale = ja
    //output --> ...

p #{__("dictionary.paragraph.setup.problem")}
pre.language-javascript
  code.
    {
      "example": "This is line 1. This is line 2. This is line 3. ...n"
    }

p #{__("dictionary.paragraph.setup.problem.continued")}
pre.language-javascript
  code.
    {
      "example": [
        "This is line1.",
        "This is line2.",
        "This is line3."
      ]
    }
    //output -->
    //This is line 1. This is line 2. This is line 3.
p!= __("dictionary.paragraph.setup.universe")
p!= __("dictionary.paragraph.setup.universe.footnote.one")
pre.language-javascript
  code.
    //input
    __("navbar.home")

    //assume requested page = /index/some/page
    {
      "index": ...,
      "some":{
        "page": ...
      },
      //universe keyword
      "gengo":{
        "navbar":{
          "home":"Home"
        },
        //or
        "navbar":{
          "home": {
            "default": "Home" //I think you get the idea by now.
          }
        }
      }
    }

    //output --> "Home"
p #{__("dictionary.paragraph.setup.conclusion")}

h1#kawari Kawari
p!= __("dictionary.heading.kawari")
br
pre.language-javascript
  code.
    //ja.js
    module.exports = {
        "Welcome to Gengo.js, %s": "%s, Gengo.jsへようこそ"
    };

    //example
    __("Welcome to Gengo.js, %s", "Kyouma Hououin")
    //output with requested locale = en-US
    //Welcome to Gengo.js, Kyouma Hououin
h1#momentjs-and-numeraljs #{__("dictionary.heading.momnum")}
p!= __("dictionary.paragraph.momnum")
br
pre.language-jade
  code.
    extends layout

    block content
      h1= __(title)
      h2 \#{__("Gengo.jsへようこそ")}
      h4 \#{__('今日は%sです。', __.moment().format('dddd'))}
      h4 \#{__('%sを持っていません。', __.numeral(10000).format('$0,0.00'))}
      h4 \#{__('今日は%sです。', __.moment({locale:'ja'}).format('dddd'))}
      h4 \#{__('%sを持っていません。', __.numeral({locale:'ja'},10000).format('$0,0.00'))}
h1#cookies #{__("dictionary.heading.cookies")}
p
| #{__("dictionary.paragraph.cookies")}
br
pre.language-jade
  code.
    //index.jade
    extends layout

    block content
      h1= __(title)
      p \#{__("Gengo.jsへようこそ")}
      button(onclick="locale().set('ja');") Japanese
      button(onclick="locale().set('en_US');") English
      button(onclick="locale().reset();") Reset
      script.
          var locale = function(){
              return{
                  set: function(locale){
                      //#{__("dictionary.code.cookies.set")}
                      document.cookie = "locale=" + locale;
                      //#{__("dictionary.code.cookies.refresh")}
                      location.reload();
                  },
                  reset: function(){
                      //#{__("dictionary.code.cookies.reset")}
                      document.cookie = "locale=";
                      //#{__("dictionary.code.cookies.refresh")}
                      location.reload();
                  }
              };
          };
h1#markdown #{__("dictionary.heading.markdown")}
p!= __("dictionary.paragraph.markdown")
p #{__("dictionary.paragraph.markdown.supported")}
ul
  li _blank
  li _self
  li _parent
  li _top
  li
    i framename

br
pre.language-jade
  code.
    //index.jade
    extends layout

    block content
      //#{__("dictionary.code.markdown.caution")}
      /*links*/

      //standard links
      p!= __("Welcome to [Gengo.js](http://gengojs.com)")
      p!= __("Welcome to [Gengo.js](http://gengojs.com)[blank]")
      p!= __("Welcome to [Gengo.js](http://gengojs.com)[self]")

      //twitter
      p!= __("Follow me @[iwatakeshi](@iwatakeshi)")
      p!= __("Follow me [@iwatakeshi](@iwatakeshi)[blank]")
      p!= __("Follow me [iwatakeshi](@iwatakeshi)[self]")

      //bookmark
      p!= __("[text](#attribute-to-somewhere)")

      /*Formatting*/

      //bold
      p!= __("Welcome to *Gengo.js*")
      p!= __("Welcome to _Gengo.js_")

      //italics
      p!= __("Welcome to **Gengo.js**")
      p!= __("Welcome to __Gengo.js__")

      //code
      p!= __("This is `code`");

      //strike
      p!= __("This is a ~~strike~~")

      //superscript
      p!= __("This is ^[text]")
      p!= __("This is ^[1](#bookmark)")
      p!= __("This is ^[[1]](#link-to-bookmarked-superscript)")
h1#mustache #{__("dictionary.heading.mustache")}
p #{__("dictionary.paragraph.mustache")}
br
pre.language-jade
  code.
    //index.jade
    extends layout

    block content
      p \#{__("Welcome to {{gengojs}}", {gengojs:"Gengo.js"}})}

      //output -->
      //Welcome to Gengo.js
